{% extends "base.html" %}

{% block title %}User Login{% endblock %}

{% block content %}
<div class="auth">
    <form id="182" action="{% url 'authapp:login' %}" method="POST">
        {% csrf_token %}
        
        {% if form.subject.errors %}
            {% for error in form.subject.errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}

        {{ form.as_p }}
    </form>
</div>
<div class="auth">
    <input class="button" type="submit" value="login" form="182"/>    
</div>
{% endblock %}