{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block welcome %}
    {% if user.is_authenticated %}
        <h3>Welcome, {{ user.username }}!</h3>
    {% endif %}
{% endblock %}

{% block content %}
<div>
    <h1>
        {{ content }} 
        <a href="{% url 'homeapp:goapp' %}">{{ goappLinkText }}</a>
    </h1>
</div>
{% endblock %}