{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesHome.css' %}">
</head>
<body>

    <div class="top-menu">
        <ul>
            <li><a href="{% url 'homeapp:home' %}">home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'authapp:logout' %}">logout</a></li>
            {% else %}
                <li><a href="{% url 'authapp:login' %}">login</a></li>
                <li><a href="{% url 'authapp:signup' %}">signup</a></li>
            {% endif %}
        </ul>
    </div>

    {% block welcome %}{% endblock %}

    {% block content %}{% endblock %}

    <div class="footer">        
        <p>made by Rybnikov Vladimir, 2017</p>
    </div>
    <div class="footer">        
        <p id="footer2">created using django 1.10</p>
    </div>

</body>
</html>